:host ::ng-deep .p-menuitem-icon {
  color: var(--primary-color);
}

.logo {
  height: 40px;
  margin-right: 10px;
}



.theme{
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  margin-left: 4rem;
  width: 0.2rem !important;
}

::ng-deep .p-button{
  margin-right: 1rem !important;
}
