<h1>Felhasználók kezelése</h1>
<p-table [value]="users" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'"
    class="col col-xl-4 col-lg-8 col-md-8 col-sm-12">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Email-cím</th>
            <th>Szerepkör</th>
            <th>Státusz</th>
            <th>Műveletek</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>

            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status }}</td>

            <td>
                <p-button label="" icon="pi pi-ban" class="deleteBtn w-50" severity="danger" (click)="banUser(user.id)"
                   ></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

