<div class="card xs:col-12 md:col-6 lg:col-4 mx-auto px-3 text-center">
    <h1 class="mx-auto">Új tétel létrehozása</h1>



    <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <p-floatLabel>
            <label for="boxSelect" class="mx-auto">A kód beolvasásával láthatod a kódját!</label>
            <p-select [options]="boxes" [(ngModel)]="selectedBox" variant="filled" [virtualScroll]="true" [virtualScrollItemSize]="38" optionLabel="code" placeholder="Válassz egy dobozt" inputId="boxSelect" >
                <ng-template pTemplate="item" let-box>
                    <div class="flex align-items-center">
                        <span class="mr-2">{{ box.code }}</span>
                    </div>
                </ng-template>
            </p-select>
        </p-floatLabel>
    </div>

    <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <p-floatLabel>
            <input pInputText id="name" [(ngModel)]="newItem.name" class="w-full" />
            <label for="name">Név</label>
        </p-floatLabel>
    </div>

    <div class="size">
        <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <p-floatLabel>
                <p-inputnumber inputId="integeronly" [(ngModel)]="newItem.lengthCm" [showButtons]="true" [min]="0" />
                <label for="lengthCm">Hossz (cm)</label>
            </p-floatLabel>
        </div>

        <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <p-floatLabel>
                <p-inputnumber inputId="integeronly" [(ngModel)]="newItem.widthCm" [showButtons]="true" [min]="0" />
                <label for="widthCm">Szélesség (cm)</label>
            </p-floatLabel>
        </div>

        <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <p-floatLabel>
                <p-inputnumber inputId="integeronly" [(ngModel)]="newItem.heightCm" [showButtons]="true" [min]="0" />
                <label for="heightCm">Magasság (cm)</label>
            </p-floatLabel>
        </div>
        <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <p-floatLabel>
                <p-inputnumber inputId="integeronly" [(ngModel)]="newItem.weightKg" [showButtons]="true" [min]="0" />
                <label for="maxWeightKg">súly (kg)</label>
            </p-floatLabel>
        </div>
    </div>



    <div class="mb-4 col col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <p-floatlabel>
            <textarea pTextarea id="over_label" [(ngModel)]="newItem.description" rows="5" style="resize: none"
                class="h-full w-full"></textarea>
            <label for="over_label">Leírás</label>
        </p-floatlabel>
    </div>


    <p-button label="Mentés" icon="pi pi-plus" (click)="createItem()" class="w-full" />